body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Start Test बटन */
#start-btn {
    font-size: 26px;
    padding: 15px 30px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

/* Stop Test बटन */
#stop-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
}

/* Typing Paragraph */
#paragraph-display {
    width: 80%;
    font-size: 18px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #000;
}

/* Typing Area */
#typing-area {
    width: 80%;
    height: 150px;
    margin-top: 20px;
    font-size: 18px;
}